/* App.css */
.App {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s, border-bottom 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    border-bottom: 2px solid #007bff;
    background-color: #fff;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    color: #333; /* 设置标签字体颜色为深灰色 */
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    color: red;
}